
@{
    ViewBag.Title = "Analysis";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model UI_NewsManagementSystem.Models.Analysis
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Thống kê - Đánh giá</h2>
    </div>
</div>
<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-users fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">
                            <span>@Model.NumberOfWatchList</span>
                        </div>
                        <div>
                            Đối tượng đang theo dõi
                        </div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">Xem chi tiết</span>
                    <span class="pull-right">
                        <i class="fa fa-arrow-circle-right"></i>
                    </span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-file-text fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">
                            <span>@Model.NumberOfPost</span>
                        </div>
                        <div>
                            Bài viết đã thu thập
                        </div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">Xem chi tiết</span>
                    <span class="pull-right">
                        <i class="fa fa-arrow-circle-right"></i>
                    </span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-times-circle fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">
                            <span>@Model.NumberOfNegativePost</span>
                        </div>
                        <div>
                            Bài viết có nội dung tiêu cực
                        </div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">Xem chi tiết</span>
                    <span class="pull-right">
                        <i class="fa fa-arrow-circle-right"></i>
                    </span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-check-circle fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">
                            <span>@Model.NumberOfPositivePost</span>
                        </div>
                        <div>
                            Bài viết có nội dung tích cực
                        </div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">Xem chi tiết</span>
                    <span class="pull-right">
                        <i class="fa fa-arrow-circle-right"></i>
                    </span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-6">
                        <i class="fa fa-bar-chart fa-2x"></i>     
                    </div>
                    <div class="col-sm-6" style="text-align: right">                       
                        <form method="post" action="@Url.Action("Analysis", "Home")">
                            <label>
                                Đối tượng:
                                <select class="form-control" id="watch-list" name="facebookID" style="width: 280px"></select>
                                <button type="submit" class="btn btn-sm btn-primary">Thống kê</button>
                            </label>
                        </form>               
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div id="chart" style="height: 470px; width: 100%;"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-pie-chart fa-2x"></i>
            </div>
            <div class="panel-body">

            </div>
        </div>
    </div>
</div>
<script>
    var anqgPost = 0;
    var anttPost = 0;
    var anotherPost = 0;
    var listPost = @Html.Raw(Json.Encode(ViewBag.ListPost));
    if (listPost != null) {
        for (var i = 0; i < listPost.length; i++) {
            if (listPost[i].NewsLabelID == 'ANQG')
                anqgPost++;
            else if (listPost[i].NewsLabelID == 'ANTT')
                anttPost++;
            else
                anotherPost++;
        }
    }

    $('#watch-list').select2({
        allowClear: true
    });
    $(document).ready(function () {
        var watchlist = $('#watch-list');
        $.ajax({
            url: 'https://localhost:44347/api/Home/GetAllWatchList/',
            type: 'get',
            dataType: 'json',
            success: function (data) {
                $.each(data, function (key, value) {
                    watchlist.append($('<option></option>').val(value.FacebookID).html(value.FacebookName));
                });
            },
            error: function () {
                console.log('ajax error');
            }
        });
    });
    var option = {
        animationEnabled: true,
        axisY: {
            suffix: ''
        },
        data: [{
            type: "column",
            yValueFormatString: "#,##0.0#" % "",
            dataPoints: [
                { label: 'An ninh quốc gia', y: anqgPost },
                { label: 'An ninh trật tự', y: anttPost },
                { label: 'Khác', y: anotherPost },
            ]
        }]
    }
    $('#chart').CanvasJSChart(option);

</script>
