@{
    ViewBag.Title = "Danh sách theo dõi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using PagedList.Mvc
@model PagedList.IPagedList<UI_NewsManagementSystem.Models.WatchList>
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Danh sách theo dõi</h2>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-6">
                        <i class="fa fa-table fa-2x"></i>
                    </div>
                    <div class="col-sm-6" style="text-align:right">
                        <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#add-to-watch-list">Thêm mới&nbsp;<i class="fa fa-plus"></i></button>
                        <button class="btn btn-sm btn-danger" id="unfollow" onclick="unfollow()" disabled>Hủy theo dõi&nbsp;<i class="fa fa-minus"></i></button>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                    <div class="row">
                        <div class="col-sm-6">
                            <form method="post" action="@Url.Action("FilterWatchList", "Home")">
                                <label>
                                    Loại:
                                    <select class="form-control input-sm" name="facebookTypeID">
                                        <option value="ALL">Tất cả</option>
                                        <option value="PAGE">Trang</option>
                                        <option value="GR">Nhóm công khai</option>
                                        <option value="USER">Cá nhân</option>
                                    </select>
                                    &nbsp;
                                    Trạng thái
                                    <select class="form-control input-sm" name="status">
                                        <option value="ALL">Tất cả</option>
                                        <option value="true">Đang theo dõi</option>
                                        <option value="false">Hủy theo dõi</option>
                                    </select>
                                    <input type="submit" class="btn btn-sm btn-primary" value="OK" />
                                </label>
                            </form>
                            @*<button class="btn btn-sm btn-danger btn-dark"><i class="fa fa-list-alt" aria-hidden="true"></i>&nbsp;Danh sách đen</button>*@
                        </div>
                        <div class="col-sm-6">
                            <div id="dataTables-examble_filter" class="dataTables_filter">
                                <form method="post" action="@Url.Action("SearchWatchList", "Home")">
                                    <label>
                                        Tìm kiếm:
                                        <input type="search" class="form-control input-sm" name="keyWord" placeholder="Nhập từ khóa cần tìm" required />
                                        <button class="btn btn-sm btn-primary" type="submit"><i class="fa fa-search"></i></button>
                                    </label>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline" id="dataTables-example" role="grid">
                            <thead>
                                <tr role="row">
                                    <th rowspan="1" colspan="1" style="width: 30px"></th>
                                    <th rowspan="1" colspan="1" style="width: 200px">ID</th>
                                    <th rowspan="1" colspan="1" style="width: 350px">Tên</th>
                                    <th rowspan="1" colspan="1" style="width: 650px">URL</th>
                                    <th rowspan="1" colspan="1" style="width: 150px; text-align: center">Loại</th>
                                    <th rowspan="1" colspan="1" style="width: 150px; text-align: center">Trạng thái</th>
                                    <th rowspan="1" colspan="1" style="width: 60px; text-align: center">Sửa</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr role="row">
                                        <td>
                                            <input type="checkbox" id="@item.FacebookID" name="SelectPost" class="checkbox" onchange="addFacebookIDToArray('@item.FacebookID')" style="margin-bottom: 3px; cursor: pointer" />
                                        </td>
                                        <td>@item.FacebookID</td>
                                        <td>@item.FacebookName</td>
                                        <td>
                                            <a href="@item.FacebookUrl" target="_blank">@item.FacebookUrl</a>
                                        </td>
                                        <td style="text-align: center">@item.FacebookTypeName</td>
                                        @if (item.Status)
                                        {
                                            <td style="text-align: center"><span class="label label-success">Đang theo dõi</span></td>
                                        }
                                        else
                                        {
                                            <td style="text-align: center"><span class="label label-default">Hủy theo dõi</span></td>
                                        }
                                        <td style="text-align: center">
                                            <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#edit-item-watch-list" onclick="editItemInWatchList('@item.FacebookID')">
                                                <i class="fa fa-pencil"></i>
                                            </button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <strong>Tổng cộng: @ViewBag.Count</strong>
                    </div>
                    <div class="col-sm-6">
                        <div class="dataTables_paginate paging_simple_numbers">
                            <ul class="pagination">
                                <li class="paginate_button active" aria-controls="dataTables-example" tabindex="0">
                                    @if (ViewBag.State.Equals("All"))
                                    {
                                        @Html.PagedListPager(Model, pageIndex => Url.Action("WatchList", "Home", new { pageIndex }))

                                    }
                                    else if (ViewBag.State.Equals("Filter"))
                                    {
                                        @Html.PagedListPager(Model, pageIndex => Url.Action("FilterWatchList", "Home", new { pageIndex, facebookTypeID = ViewBag.FacebookTypeID, status = ViewBag.Status }))

                                    }
                                    else
                                    {
                                        @Html.PagedListPager(Model, pageIndex => Url.Action("FilterWatchList", "Home", new { pageIndex, keyword = ViewBag.Keyword }))
                                    }
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="add-to-watch-list" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" action="@Url.Action("AddToWatchList", "Home")">
                <div class="modal-header">
                    <h4 class="modal-title">Thêm đối tượng mới</h4>
                    <button type="button" class="close" data-dismiss="modal" onclick="cancelAdd()">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Tên</label>
                        <input type="text" class="form-control" id="add-facebook-name" name="FacebookName" maxlength="100" required>
                    </div>
                    <div class="form-group">
                        <label>URL</label>
                        <input type="text" class="form-control" id="add-facebook-url" name="FacebookUrl" onkeypress="clearValidate()" maxlength="200" required>
                    </div>
                    <div class="form-group">
                        <label>Loại</label>
                        <select class="form-control" id="add-facebook-type-id" name="FacebookTypeID">
                            <option value="PAGE">Trang</option>
                            <option value="GR">Nhóm công khai</option>
                            <option value="CGR">Nhóm kín</option>
                            <option value="USER">Cá nhân</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="cancelAdd()">Hủy</button>
                    <button type="submit" class="btn btn-primary" onclick="checkValidUrl()">Thêm</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="edit-item-watch-list" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" , action="@Url.Action("UpdateToWatchList", "Home")">
                <div class="modal-header">
                    <h4 class="modal-title">Sửa thông tin đối tượng</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>ID</label>
                        <input type="text" class="form-control" id="edit-facebook-id" name="FacebookID" readonly>
                    </div>
                    <div class="form-group">
                        <label>Tên</label>
                        <input type="text" class="form-control" id="edit-facebook-name" name="FacebookName" maxlength="100" required>
                    </div>
                    <div class="form-group">
                        <label>Loại</label>
                        <select class="form-control" id="edit-facebook-type-id" name="FacebookTypeID">
                            <option value="PAGE">Trang</option>
                            <option value="GR">Nhóm công khai</option>
                            <option value="CGR">Nhóm kín</option>
                            <option value="USER">Cá nhân</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Trạng thái</label>
                        <div class="form-inline">
                            <label class="radio-inline">
                                <input type="radio" class="radio-inline" id="status1" name="Status" value="true" />Đang theo dõi
                            </label>
                            <label class="radio-inline">
                                <input type="radio" class="radio-inline" id="status0" name="Status" value="false" />Bỏ theo dõi
                            </label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Hủy">
                    <input type="submit" class="btn btn-primary" value="Lưu">
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    var baseUrl = 'http://kltn262020api.somee.com/';
    listFacebookID = [];
    function deleteItemInArray(arr, item) {
        for (var i = 0; i < arr.length; i++) {
            if (arr[i] === item) {
                arr.splice(i, 1);
                i--;
            }
        }
    };
    function toggleUnfollowButton() {
        if (listFacebookID.length == 0) {
            $('#unfollow').prop('disabled', true);
        }
        else {
            $('#unfollow').prop('disabled', false);
        }
    };
    function addFacebookIDToArray(facebookID) {
        if ($('#' + facebookID).is(':checked')) {
            listFacebookID.push(facebookID);
        }
        else {
            deleteItemInArray(listFacebookID, facebookID);
        }
        toggleUnfollowButton();
        console.log(listFacebookID);
    }
    function unfollow() {
        for (var i = 0; i < listFacebookID.length; i++) {
            console.log(i);
            $.ajax({
                url: 'https://localhost:44347/api/Home/Unfollow/' + listFacebookID[i],
                //url: baseUrl + 'api/Home/Unfollow/' + listFacebookID[i],
                type: 'put',
                dataType: 'json',
                success: function (data) {
                    console.log(data);
                    location.reload();
                },
                error: function () {
                    console.log('Connect failled');
                },
            });
        }
    }

    function editItemInWatchList(facebookID) {
        $.ajax({
            url: 'https://localhost:44347/api/Home/GetWatchListItemByID/' + facebookID + "/",
            //url: baseUrl + 'api/Home/GetWatchListItemByID/' + facebookID + "/",
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                //console.log(data);
                $("#edit-facebook-id").val(data.FacebookID)
                $("#edit-facebook-name").val(data.FacebookName);
                $("#edit-facebook-type-id").val(data.FacebookTypeID);
                if (data.Status) {
                    $("#status1").prop('checked', true);
                }
                else {
                    $("#status0").prop('checked', true);
                }
            },
            error: function () {
                alert('Lỗi kết nối đến server!');
            }
        });
    }
    function clearValidate() {
        $("#add-facebook-url")[0].setCustomValidity('');
    }
    function checkValidUrl() {
        var facebookUrl = $("#add-facebook-url");
        var pattern = /^(https?:\/\/)?((w{3}\.)?)facebook.com\/.*/i;
        if (!pattern.test(facebookUrl.val())) {
            facebookUrl[0].setCustomValidity('Link facebook không hợp lệ');
        }
        else {
            facebookUrl[0].setCustomValidity('');
            //var arr = facebookUrl.val().split('/');
            //console.log(arr);
            //if (arr[arr.length - 1] === '') {
            //    var facebookID = arr[arr.length - 2];
            //    console.log(facebookID);
            //}
            //else {
            //    var facebookID = arr[arr.length - 1];
            //    console.log(facebookID);
            //}
            //$.ajax({
            //    url: 'https://localhost:44347/api/Home/CheckExistInWatchList/' + facebookID,
            //    type: 'GET',
            //    dataType: 'json',
            //    contentType: 'application/json',
            //    success: function (data) {
            //        if (data) {
            //            console.log(data);
            //            facebookUrl[0].setCustomValidity('Link facebook đã tồn tại');
            //        }
            //     FacebFacebookIDookID   else {
            //            facebookUrl[0].setCustomValidity('');
            //        }
            //    },
            //    error: function () {
            //        alert('Lỗi kết nối đến server!');
            //    }
            //});
        }
    }
    function cancelAdd() {
        $("#add-facebook-name").val('');
        $("#add-facebook-url").val('');
        $("#add-facebook-type-id").val('PAGE');
    }
</script>